<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1250">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/timetracker.css" type="text/css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="css/pikaday.css">

    <script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="js/timetracker.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>   
    <script type="text/javascript" src="js/moment.min.js"></script>   
    <script type="text/javascript" src="js/pikaday.js"></script> 
        
    <title>Timetracker</title>
  </head>
  <body onLoad="ttInit();">
    <div id="header">
      <h1 style="float: left;">timetracker</h1>
      <div id="view-links" style="float:left;">
      <a href="#void" class="view-switch" onClick="setView('track')"><i class="fa fa-clock-o fa-lg"></i>
Track</a>
      <a href="#void" class="view-switch" onClick="setView('analyze')"><i class="fa fa-bar-chart fa-lg"></i>
Analyze</a>      
      <a href="javascript:void(0)" class="view-switch" id="settings-button" title="Settings" onClick="showEditForm('settings')"><i class="fa fa-wrench fa-lg"></i></a>
      
      </div>
      

    </div>
    <br clear="both">
    
    <div id="container">
      <div id="feedback" class="notice" style="display:none">
                                                
      </div>
       
      <div id="track-view">
        <div class="section" id="client-controls">
        <div class="section-title-container"><div class="section-title">Client</div></div> 
    
          <form method="post" id="client-form" action="" ondblclick="addClientForm()">     
            <div id="add-client-form" style="display:none;">
                  <input type="text" id="add-client-input" placeholder="New client name"/>
                  <a href="#void" class="button" onClick="saveClient()">Save</a>
                  <a href="#void" class="button" onClick="cancelAddClient()">Cancel</a>
            </div> 
                 
            <div id="select-client-form" style="display:block;">
            <select name="client_id" id="client-select" onchange="setClient()">
                  <option value="">Select client... </option>
                  
            </select>
            <a href="#void" class="button edit" onClick="showEditForm('client')">Edit</a><a href="#void" class="button" onClick="addClientForm()">Add new</a>
            </div>
          </form>
        </div>
        
        <div class="section" id="project-controls" style="display:none;">
          <div class="section-title-container"><div class="section-title">Project</div></div> 
          <form method="post" id="project-form" action="">
          
            <div id="add-project-form" style="display:none;">
                <input type="text" id="add-project-input" placeholder="New project name"/>
                <a href="#void" class="button" onClick="saveProject()">Save</a>
                <a href="#void" class="button" onClick="cancelAddProject()">Cancel</a>
            </div> 
               
            <div id="select-project-form" style="display:block;">     
              <select name="project_id" id="project-select" onchange="setProject()">
                    <option value="testval" style="color: #aaaaaa">Select project... </option>
              </select>
              <a href="#void" class="button edit" id="edit-project-button" onClick="showEditForm('project')" style="display:none;">Edit</a><a href="#void" class="button" onClick="addProjectForm()">Add new</a>
            </div>
          </form>                                
        </div>
        
        <div class="section" id="task-controls"  style="display:none;">
          <div class="section-title-container"><div class="section-title">Task</div></div> 
          <form method="post" id="task-form" action="">
          
            <select name="task_id" id="task-select" onchange="setTask()">
                  <option value="">Select task... </option>
            </select>
            
            <a href="#void" onClick="startSession()" id="session-start-button" class="button"  style="display: none;">Start</a>
            <a href="#void" class="button edit" id="task-edit-button" onClick="showEditForm('task')">Edit</a>
            <br>
            <input type="text" id="new-task-input" name="new-task-input" placeholder="Enter new task">
            <input type="checkbox" id="billable-input" checked /><label for="billable-input">Billable</label> <a href="#void" onClick="saveNewTask()" class="button" id="save-new-task-button">Save</a>
                    
          </form>
          </div>
      
          <a href="#void" onClick="editJson()" class="button">Show/Edit JSON</a>  
          <a href="#void" onClick="synchToServer()" class="button">Synch to server</a>   
          <a href="#void" onClick="synchFromServer()" class="button">Synch from server</a>
          <a href="#void" onClick="deleteLocalStorage()" class="button">Delete LS data</a>  
      </div>
      
      
      <div id="analyze-view" style="display: none">
      <!-- Using Vue.JS -->
         <h3 id="analytics-view-title"></h3>
         <div id="analyze-controls">
         
         <select v-model="client_select.value" on="change:setClientSelect">
           <option v-for="option in client_select.options" v-bind:value="option.value">
            {{ option.text }}
           </option>
         </select>
         
         <select v-model="project_select.value" v-if="filters.clientId != all">
           <option v-for="option in project_select.options" v-bind:value="option.value">
            {{ option.text }}
           </option>
         </select>
         
         <input type="text" id="filter-start-time"  placeholder="Start date" />
         <input type="text" id="filter-end-time" placeholder="End date" />
         </div>
         
         
         <table class="datatable" id="datatable">
            <thead>
              <tr>
              <td>Client</td><td>Project</td><td>Task</td><td>Start time</td><td>Duration</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in tableData">
                  <td>{{row.client}}</td>
                  <td>{{row.project}}</td>
                  <td>{{row.task}}</td>
                  <td>{{row.start_time}}</td> 
                  <td>{{row.durationHMS}}</td>
              </tr>
              <tr id="no-data-found-table" style="display: none;">
              <td colspan="5" style="font-size: 1.5em; color: #aaa; text-align:center">No sessions to display</td></tr>
            </tbody>
            <tfoot>
              <tr class="table-totals"><td colspan="4">Billable time</td><td>{{totalBillableTimeHMS}}</td></tr> 
              <tr class="table-totals"><td colspan="4">Total time</td><td>{{totalTimeHMS}}</td></tr>
            </tfoot>
         </table>
      
      </div>
      
      <div id="organize-view">

         <table class="datatable" id="datatable"></table>
      
      </div>      
      
      
      <div id="test-output"> 
      </div>
      
      
      
      
      
      
    <div id="active-session">
    </div>
    
    
    <div id="json-output"></div>
    
    <div id="edit-popup" style="display: none;" class="modal-popup centered-box">
    
    </div>
    <div class="modal-bg" id="modal-bg" style="display:none;">
    
    </div>
    </div>
  </body>
</html>                                                        