[Desktop Entry]
Comment[en_US]=PSC Timetracker app
Comment=PSC Timetracker app
Exec=webapp-container --store-session-cookies --webappUrlPatterns=https?://photosynth.ca/* http://photosynth.ca/timetracker/timetracker.html %u
GenericName[en_US]= TimeTracker
GenericName= TimeTracker
Icon=/home/.local/share/applications/timetracker-icon.png
MimeType=
Name=TimeTracker
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Touch=true
